<!DOCTYPE html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "TweetBoard" %></title>
    <% if Rails.env.development? %>
      <link href="/assets/.tmp/styles/application.css" media="screen" rel="stylesheet" type="text/css">
    <% end %>
    <% if Rails.env.production? %>
      <link href="/assets/dist/styles/6f291b49.main.css" media="screen" rel="stylesheet" type="text/css">
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Header -->
    <%= render "shared/header" %>
    <%= render "shared/messages" %>

    <!-- Main Page Content -->
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= yield %>
      </div>
    </div>

    <!-- Footer -->
    <%= render "shared/footer" %>

    <% if Rails.env.development? %>
      <script data-main="/assets/.tmp/scripts/main" src="/assets/app/bower_components/requirejs/require.js"></script>
    <% end %>

    <% if Rails.env.production? %>
      <script src="/assets/dist/scripts/vendor/f7f27360.modernizr.js"></script>
      <script data-main="/assets/dist/scripts/8a4e26a7.main" src="/assets/dist/bower_components/requirejs/require.js"></script>
    <% end %>
  </body>
</html>
